body {
	width: 960px;
	margin: 0 auto;
}

#menu {
	padding: 0 32px;
	margin: 0;
	width: 500px;
	position: fixed;
	background: #809dc4;
	color: #fff;
}

#menu li {
	line-height: 2em;
	margin-right: 15px;
	list-style-type: none;
	display: inline;
}