a {
	color: red;
	text-decoration: none;
}

a:hover {
	color: blue !important; /* Ưu tiên với important */
}
a:visited {
	color: purple;
}
a:active {
	color: green;
}
/* Ví dụ về các phần tử khác */
#box {
	width: 150px;
	height: 150px;
	background: red;
}
#box:hover {
	background: blue;
}
#box:active {
	background: green;
}

/*Ví dụ thú vị */
#thu-vi {
	width: 150px;
	height: 150px;
	background: red;
	transition: margin-left 2s, background 1s;
	-moz-transition: margin-left 2s, background 1s;
    -webkit-transition: margin-left 2s, background 1s;
}
#thu-vi:hover {
	margin-left: 500px;
	background: green;
}