/*
inline: Chuyển phần tử về hiển thị trên cùng một hàng.

inline-block: Chuyển phần tử về hiển thị trên cùng một hàng nhưng nó vẫn thừa hưởng các đặc tính của block như có thể tùy chỉnh kích thước, thêm background,…

block: Chuyển phần tử về hiển thị kiểu block, sở hữu một hàng riêng.

list-item: Chuyển phần tử về hiển thị như một mục danh sách, để có thể sử dụng thuộc tính list-style.
none: Đơn giản là ẩn phần tử đó đi không cho hiển thị nữa, nó cũng sẽ ẩn luôn toàn bộ các khoảng trống mà nó sở hữu. Nếu bạn muốn ẩn đi mà vẫn đề lại “dấu vết” thì có thể sử dụng visibility: hidden.
*/

.inline {
	display: inline;
}
.block {
	display: block;
	background: #e8e8e8;
	margin: 5px 0;
}
.none {
	display: none;
}
